fastapi
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary
pymysql
numpy
opencv-python
certifi
requests
httpx
ddgs
crawl4ai
langchain
langchain-community
langchain-google-genai

paddleocr
paddlepaddle
pymupdf
python-dotenv
google-api-python-client
google-auth
firebase-admin
python-multipart
fpdf2

jinja2
playwright
weasyprint
